.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 1.055;
  /* or 106% */
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-style: normal;
    font-size: 2.625em;
    line-height: 1.095;

    max-width: 330px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-style: normal;
    font-size: 2em;
    line-height: 1.094;
    padding-left: 16px;
  }
}
