.place__website-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  padding: 0;
  padding-bottom: 12px;
  margin: 0;

  letter-spacing: 0.2em;

  color: #AAAAAA;
}
