.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 1.055;
  /* or 106% */
  /* text-decoration: none; */
  color: #fff;

  max-width: 560px;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .cover__title{
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 1.09;
    margin-bottom: 16px;
    max-width: 255px;
  }
}
