.photo-grid__conteiner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  max-width: 1184px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .photo-grid__conteiner {
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__conteiner {
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__conteiner {
    gap: 12px;
  }
}
